.choices {
  margin-bottom: 0;
  height: min-content;
  flex-grow: 1;
  min-width: 31.625%;
}

.choices__inner {
  border: 1px solid var(--light-color);
  border-radius: 3px;
  padding: 10px 35px 10px 10px;
  // width: 100%;
  min-height: 48px;
  font-weight: 400;
  font-size: var(--input-size);
  line-height: normal;
  color: var(--input-color);
  background: var(--input-bg-color);
}

.choices__list--single {
  padding: 0;
}

.is-open .choices__inner {
  border-radius: 3px 3px 0 0;
  color: var(--light-color);
  background: #3a3c4c;
}

.is-focused .choices__inner {
  border: 1px solid var(--bg-color);
  border-radius: 3px;
}

.is-open .choices__inner {
  border: 1px solid var(--bg-color);
  border-radius: 3px 3px 0 0;
}

#choices--default-item-choice-1 {
  display: none;
}

.choices[data-type*=select-one]:after {
  right: 10px;
  top: 50%;
  margin-top: 0;
  border-style: none;
  border-width: unset;
  border-color: unset;
  width: 20px;
  height: 20px;
  background-image: url(../../img/arrow-default.png);
  transform: translateY(-50%) rotate(0deg);
  transition: all ease-in-out 0.3s;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  transform: translateY(-50%) rotate(0deg);
  transition: all ease-in-out 0.3s;
}

.is-open.choices[data-type*=select-one]:after {
  background-image: url(../../img/arrow.png);
  transform: translateY(-50%) rotate(-180deg);
  transition: all ease-in-out 0.3s;
}

.is-open.choices[data-type*=select-one].is-open:after,
.is-focused.choices[data-type*=select-one].is-open:after {
  transform: translateY(-50%) rotate(0deg);
  transition: all ease-in-out 0.3s;
}

.choices__list--dropdown .choices__list {
  max-height: 176px;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 35px;
}

.choices__list--dropdown {
  border: 1px solid #3d4050d9;
  border-top: none;
  background-color: var(--input-color);
}

.choices__list--dropdown .choices__item {
  padding-top: 12px;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: var(--input-size);
  line-height: 18px;
  color: var(--light-color);
}

.choices__list--dropdown .choices__item:last-child {
  padding-bottom: 12px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--similar-color);
  background-color: var(--input-color);
}

.is-open .choices__list--dropdown {
  border: 1px solid var(--bg-color);
}

// scrollbar

.choices__list--dropdown {
  padding: 2px 3px 2px 0;
}

.choices {
  scrollbar-color: var(--accent-color) var(--bg-color);
  scrollbar-width: 7px;

  ::-webkit-scrollbar {
    width: 7px;
  }

  -webkit-overflow-scrolling: auto;

  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background: var(--bg-color);
  }

  ::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 3px;
    background-color: var(--accent-color);
  }

}