<section class="about">
  <div class="container">
    <div class="about__inner">
      <h1 class="about__title">
        Lorem ipsum <span>dolor sit ametconsectetur </span>adipiscing
      </h1>
      <p class="about__list-title">
        At vero eos et accusamus et iusto odio dignissimos ducimus!
      </p>
      <ul class="list-reset about__list">
        <li class="about__list-item">
          Totam rem aperiam eaque ipsa
        </li>
        <li class="about__list-item">
          Sit voluptatem accusantium doloremque laudantium
        </li>
        <li class="about__list-item">
          Sed ut perspiciatis, unde omnis iste natus error
        </li>
      </ul>
      <div class="about__btns">
        <a class="about__btn-order" href="#">заказать</a>
        <a class="about__btn-more" href="#">подробнее</a>
      </div>
    </div>
  </div>
</section>