<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <p class="footer__copyright">
        © 2018 «LOREMIPSUM.NET» Все права защищены.
      </p>
      <div class="footer__line"></div>
      <ul class="list-reset payment__list">
        <li class="payment__item payment__item--qiwi">
          QIWI wallet
        </li>
        <li class="payment__item payment__item--yandex">
          Yandex Money
        </li>
        <li class="payment__item payment__item--webmoney">
          Web Money
        </li>
      </ul>
      <div class="footer__line"></div>
      <ul class="list-reset social__list">
        <li class="social__item">
          <a class="social__link social__link--email" href="mailto:info@ipsum228.com">
            info@ipsum228.com
          </a>
        </li>
        <li class="social__item">
          <a class="social__link  social__link--vk" href="#">
            Мы вконтакте
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>