<section id="order" class="order">
  <div class="container">
    <h2 class="order__title">
      <span>Оформление</span> Заказа
    </h2>
    <p class="order__subtitle">
      Перед заполнением формы ознакомьтесь с&nbsp;нашей схемой работы!
    </p>
    <div class="order__items">
      <div class="order__item">
        <picture class="order__image">
          <source srcset="../img/step-1.avif" type="image/avif">
          <source srcset="../img/step-1.webp" type="image/webp">
          <img class="image" loading="lazy" src="../img/step-1" width="100px" height="100px" alt="Иконка-1">
        </picture>
        <div class="order__item-text">
          Lorem ipsum dolor sit <br>
          amet
        </div>
      </div>
      <div class="order__item">
        <picture class="order__image">
          <source srcset="../img/step-2.avif" type="image/avif">
          <source srcset="../img/step-2.webp" type="image/webp">
          <img class="image" loading="lazy" src="../img/step-2" width="100px" height="100px" alt="Иконка-2">
        </picture>
        <div class="order__item-text">
          Сonsecteturadipiscing elit
        </div>
      </div>
      <div class="order__item">
        <picture class="order__image">
          <source srcset="../img/step-3.avif" type="image/avif">
          <source srcset="../img/step-3.webp" type="image/webp">
          <img class="image" loading="lazy" src="../img/step-3" width="100px" height="100px" alt="Иконка-3">
        </picture>
        <p class="order__item-text">
          Sed do eiusmod tempor
        </p>
      </div>
      <div class="order__item">
        <picture class="order__image">
          <source srcset="../img/step-4.avif" type="image/avif">
          <source srcset="../img/step-4.webp" type="image/webp">
          <img class="image" loading="lazy" src="../img/step-4" width="100px" height="100px" alt="Иконка-4">
        </picture>
        <div class="order__item-text">
          Esse cillum dolore eu <br>
          fugiat
        </div>
      </div>
      <div class="order__item">
        <picture class="order__image">
          <source srcset="../img/step-5.avif" type="image/avif">
          <source srcset="../img/step-5.webp" type="image/webp">
          <img class="image" loading="lazy" src="../img/step-5" width="100px" height="100px" alt="Иконка-5">
        </picture>
        <div class="order__item-text">
          Excepteur sint occaecat cupidatat non proident
        </div>
      </div>
    </div>
    <div class="order__form">
      <select class="js-choice" name="Тип системы" id="default" aria-label="Выбор типа системы">
        <option value="Выберите тип системы"></option>
        <option value="Sed ut perspiciatis">Sed ut perspiciatis</option>
        <option value="Nemo enim ipsam">Nemo enim ipsam</option>
        <option value="Et harum quidem">Et harum quidem</option>
        <option value="Temporibus autem">Temporibus autem</option>
        <option value="Itaque earum rerum">Itaque earum rerum</option>
        <option value="earum">earum</option>
        <option value="rerum">rerum</option>
        <option value="ipsam">ipsam</option>
        <option value="harum">harum</option>
        <option value="autem">autem</option>
        <option value="quidem">quidem</option>
        <option value="enim">enim</option>
        <option value="itaque">itaque</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input class="order__input" name="Ваш e-mail" type="email" placeholder="Ваш e-mail">
      <input class="order__input" name="Ваше имя" type="text" placeholder="Ваше имя">
      <div class="order__scrollbar-inner">
        <div class="order__scrollbar-descr">
          <p class="order__scrollbar-title">
            Sed ut perspiciatis, unde omnis iste natus 
          </p>
          <span class="order__scrollbar-percent" id="percent">75<b>&nbsp;%</b></span>
        </div>
        <input class="order__scrollbar" name="scrollbar" type="range" id="slider" min="0" value="75" max="100">
      </div>
      <a class="order__btn-upload" href="#">
        <span></span>прикрепить файл
      </a>
    </div>
    <a class="order__btn-submit" href="#">
      отправить
    </a>
  </div>
</section>