@media (max-width: 1200px) {
  .order__form {
    grid-gap: 25px;
  }
  .order__scrollbar-inner {
    min-width: 66.1%;
  }
}

@media (max-width: 1130px) {
  .order__scrollbar-inner {
    min-width: 65.85%;
  }
}

@media (max-width: 1070px) {
  .order__scrollbar-inner {
    min-width: 65.7%;
  }
  .footer__inner,
  .footer .payment__list,
  .footer .social__list {
    column-gap: 10px;
  }
}

@media (max-width: 1024px) {
  .header .nav {
    display: none;
  }

  .burger {
    z-index: 4;
    display: block;
  }

  .header .nav.menu--active {
    display: block;
  }
}

@media (max-width: 996px) {
  .header,
  .footer {
    padding: 15px 0;
  }

  .header__inner {
    height: auto;
  }

  .about {
    padding: 100px 0 30px;
  }

  .about__title {
    font-size: var(--default-size);
  }

  .about__list-title {
    margin-top: 20px;
  }

  .about__list-title,
  .about .nav__item {
    font-size: var(--item-size);
  }

  .about__btns {
    column-gap: 15px;
    margin-top: 20px;
  }

  .order {
    padding: 30px 0;
  }

  .order__title {
    font-size: var(--input-size);
  }

  .order__subtitle {
    margin-top: 15px;
    font-size: var(--item-size);
  }

  .order__items {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }

  .order__scrollbar-inner {
    min-width: 66.5%;
  }

  .order__item {
    margin: 0 auto;
  }

  .order__item-text br {
    display: none;
  }

  .order__item-text {
    margin-top: 5px;
  }

  .order__form {
    grid-gap: 15px;
    margin-top: 20px;
  }

  .order__btn {
    margin: 15px auto 0;
  }

  .order .btn {
    max-width: 200px;
  }

  .footer__copyright {
    line-height: 20px;
    text-align: center;
  }

  .footer__inner {
    display: grid;
    grid-template-columns: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 340px;
  }

  .footer__line {
    display: none;
  }

  .footer .payment__list,
  .footer .social__list {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .header .nav__list {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    padding: 10px;
    min-width: 200px;
    background: var(--header-bg-color);
    transform: translateY(100%);
  }

  .header .nav__item {
    padding: 5px;
  }

  .order__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .order__scrollbar-title, .order__scrollbar-percent {
    font-size: var(--item-size);
  }

  .order__btn-upload {
    min-width: unset;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .order__items {
    display: block;
  }

  .order__item + .order__item {
    margin-top: 15px;
  }

  .order__form {
    display: flex;
    flex-direction: column;
  }

  .order__btn-upload,
  .order__btn-submit {
    margin: 25px auto 0;
    padding: 10px 5px;
    max-width: 200px;
  }

  .order__scrollbar-title {
    padding-right: 20px;
  }
}